$black-col: #000000;
$loading-bg: #3d403965;
$green-sh: #03c987;
$dark-g: #347474;
$light-g: #42b883;
$main-txt: rgb(239, 234, 234);
$grey-txt: rgb(160, 177, 162);
$txt-shadow: 0px 0px 2px rgba(226, 216, 216, 0.73);

// $grey-txt: rgb(168, 161, 161);