@media (min-width: 992px) {
	.header__main-txt {
		right: 80px;
		bottom: 80px;
		h1 {
			font-size: 12rem;
			font-weight: 300;
		}
	}
	.arrow {
		font-size: 6rem;
	}
	.about {
		&__right {
			.fa-laptop-code {
				left: 0;
				font-size: 206rem;
			}
		}
		&__righ-txt {
			width: 80%;
		}
		&__righ-txt-right {
			align-self: flex-end;
		}
		&__righ-txt-left {
			align-self: flex-start;
		}
	}
}

@media (min-width: 1200px) {
	.about {
		&__righ-txt {
			width: 50%;
		}
	}
}
