@media (min-width: 992px) {
	.header__main-txt {
		right: 80px;
		bottom: 80px;
		h1 {
			font-size: 12rem;
			font-weight: 300;
		}
	}
	.arrow {
		font-size: 6rem;
	}
	.about {
		&__left {
			height: 80%;
			background-size: contain;
		}
		&__right {
			height: 80%;
			.fa-laptop-code {
				left: 0;
				font-size: 206rem;
			}
		}
		&__righ-txt {
			width: 85%;
		}
		&__righ-txt-right {
			align-self: flex-end;
		}
		&__righ-txt-left {
			align-self: flex-start;
		}
	}
}

@media (min-width: 1200px) {
	.about {
		&__righ-txt {
			width: 70%;
		}
		&__left {
			height: 80%;
			background-attachment: fixed;
			background-position: left;
		}
	}
}
