@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat&family=Noto+Serif&family=Roboto:wght@400;500&display=swap');

@keyframes mainAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes knowagleAnimation {
	from {
		opacity: 0.2;
	}
	to {
		opacity: 0.6;
	}
}

:root {
	/* colors */
	--attColor: #bac6cf;
	--footColor: #fbfbfb;
	--pColor: #363232;
	--font-color: black;
	--font-color-btn: rgb(242, 239, 239);
	--white-color: white;
	--text-shadow-main: 0px 2px 6px rgba(0, 0, 0, 0.2);
	--filter-shadow: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

html {
	font-size: 62.5%;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	padding: 0;
	width: 100vw;
	/* max-width: 1512px; */
	overflow-x: hidden !important;
	font-family: 'Roboto', sans-serif;
	background: var(--white-color);
	transition: 0.5s ease-in-out;
}

body.dark {
	--attColor: #bac6cf;
	--footColor: #4a4a4a;
	--pColor: #dac9c9;
	--font-color: white;
	--white-color: rgba(0, 0, 0, 0.967);
	--text-shadow-main: 0px 2px 4px rgba(226, 217, 217, 0.32);
	--filter-shadow: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.784));
}

header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

ul {
	list-style: none;
	display: flex;
	width: 55%;
	justify-content: space-evenly;
}

a {
	font-size: 1.8rem;
	text-decoration: none;
	font-weight: bold;
	color: var(--font-color);
	text-shadow: var(--text-shadow-main);
	transition: 0.5s ease-in-out;
}

a:hover {
	letter-spacing: 0.1rem;
	opacity: 60%;
}

.container {
	position: relative;
	min-height: 100vh;
	margin: 0 auto;
	padding: 12px;
}

.logo {
	filter: var(--filter-shadow);
	display: none;
}

.logo-on {
	display: block;
}

/* Burger */

.burger {
	background: transparent;
	border: none;
	width: 65px;
	height: 60px;
	outline: none;
	border-radius: 15px;
	cursor: pointer;
	filter: var(--filter-shadow);
	display: none;
}

.line {
	width: 3em;
	height: 0.3em;
	background: var(--font-color);
	margin: 7px;
	border-radius: 20px;
	transition: 0.3s ease-in-out;
}

/* Home section */

.notActive {
	display: none;
}

.active {
	display: flex;
	animation-name: mainAnimation;
	animation-duration: 3s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
}

.sectionHome {
	position: relative;
	gap: 4rem;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 80vh;
	/*border: 1px solid black;*/
}

.sectionHome .homeImg {
	display: block;
	border-radius: 15px;
	filter: var(--filter-shadow);
	width: 25%;
}

.welcomeH {
	font-size: 5.6rem;
	font-weight: bold;
	text-align: left;
	display: block;
	color: var(--font-color);
}

.welcomeH::after {
	content: attr(data-heading);
	display: block;
	color: var(--attColor);
	font-size: 2.8rem;
}

.welcomeDescription {
	font-size: 3.6rem;
	font-weight: bold;
	line-height: 0.5rem;
	text-align: left;
	text-shadow: var(--text-shadow-main);
	letter-spacing: 0.05rem;
	color: var(--font-color);
}

/* About section */

.aboutSection,
.sectionContact {
	position: relative;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 80vh;
}

.aboutImg {
	position: absolute;
	right: 0;
	bottom: 0;
	max-width: 25%;
}

h2 {
	font-size: 2.8rem;
	font-weight: bold;
	text-shadow: var(--text-shadow-main);
	color: var(--font-color);
}

.hobbiesDescription {
	color: var(--pColor);
	opacity: 90%;
	font-size: 1.6rem;
	letter-spacing: 0.05rem;
}

.hobbies {
	display: flex;
	margin-top: 15rem;
	gap: 10rem;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	min-height: 60vh;
}

.hobbiesTitles {
	width: 35%;
}

/* Knowagle section */

.sectionKnowagle {
	margin-top: 5rem;
	position: relative;
	justify-content: center;
	gap: 15rem;
	top: 5rem;
}

.skillsTree h2 {
	margin-bottom: 3em;
}

.projectExamples {
	margin-bottom: 3em;
}

.projectExamples h2 {
	margin-bottom: 3em;
}

.skillsTreeTwo {
	display: flex;
	gap: 5em;
}

.skillsTreeOne {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.skillsflex {
	display: flex;
	gap: 5em;
	margin-top: 5em;
}

.skillsImg {
	display: block;
	margin: 0;
	padding: 0;
	filter: grey;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	transition: 0.5s ease-in-out;
}

.skillsImg:hover {
	-webkit-filter: grayscale(0);
	filter: none;
}

.reactIcon {
	margin-top: -1em;
	opacity: 20%;
}

.jsIcon {
	animation-name: knowagleAnimation;
	animation-delay: 0;
	animation-duration: 1.5s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
}

.swiftIcon {
	opacity: 20%;
}

.pythonIcon {
	opacity: 20%;
}

.slider-wrapper {
	position: relative;
	max-width: 58rem;
	min-width: 40rem;
	margin: 0 auto;
	border-radius: 0.5rem;
	background-color: #222222;
	box-shadow: 0 0 5px var(--attColor);
}

.slider {
	display: flex;
	aspect-ratio: 16 / 10;
	overflow-x: hidden;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: var(--filter-shadow);
	border-radius: 0.5rem;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: var(--attColor);
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}

/* Contact Section */

.sectionContact {
	flex-direction: column;
}

input,
textarea {
	display: block;
	margin: 1em;
	outline: none;
	border: none;
	font-size: 14px;
	line-height: 1.5em;
	letter-spacing: 0.1em;
	text-shadow: var(--text-shadow-main);
	width: 250px;
	background: transparent;
	color: var(--font-color);
}

textarea {
	resize: none;
}

::placeholder {
	color: var(--attColor);
	font-size: 14px;
	text-shadow: none;
	letter-spacing: 0.2em;
}

.buttons {
	margin-top: 1.5rem;
	display: flex;
	gap: 2em;
}

.sendBtn,
.downloadBtn {
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 2.8rem;
	font-weight: bold;
	cursor: pointer;
	width: 120px;
	height: 60px;
	background: black;
	color: var(--white-color);
	border: none;
	border-radius: 15px;
	filter: var(--filter-shadow);
	transition: 0.3s ease-in-out;
}

.downloadBtn a {
	color: var(--font-color-btn);
	font-size: 1rem;
	font-weight: bold;
}

.downloadBtn a:hover {
	letter-spacing: normal;
	opacity: 1;
}

.downloadBtn a img {
	padding-left: 5px;
}

button:hover {
	opacity: 70%;
	filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}

.switch-mode {
	width: 100%;
	display: flex;
	position: absolute;
	top: 120px;
	margin-left: 12px;
	cursor: pointer;
	color: var(--font-color);
	font-size: 2rem;
	filter: var(--filter-shadow);
}

.switch-mode .sun {
	font-size: 2rem;
	color: white;
}

.switch-mode .moon {
	font-size: 2rem;
	color: black;
	margin-left: -20px;
}

.blackWhite {
	opacity: 0;
}

/* Footer */

footer {
	width: 100%;
	height: 52px;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	background-color: var(--footColor);
}

.footerP {
	padding: 17px;
	letter-spacing: 0.1em;
	color: var(--pColor);
}

@media only screen and (min-width: 1000px) {
	footer {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

@media only screen and (max-width: 780px) {
	.welcomeDescription {
		font-size: 20px;
	}

	.hobbies {
		flex-wrap: nowrap;
		flex-direction: column;
	}

	.hobbiesTitles {
		width: 100%;
	}

	.sectionHome .homeImg {
		min-width: 50%;
	}
}
@media only screen and (max-width: 1000px) {
	.burger {
		display: block;
		transition: 0.5s ease-in-out;
	}
	.burger.activeBurger .line:first-child {
		transform: translateY(-300px);
	}
	.burger.activeBurger .line:nth-child(2) {
		transform: rotate(-405deg) translateY(8px);
	}
	.burger.activeBurger .line:nth-child(3) {
		transform: rotate(45deg) translateY(-7px);
	}

	ul {
		position: absolute;
		display: none;
		flex-direction: column;
		gap: 4em;
		right: 0;
		top: 120px;
		background-color: var(--footColor);
		text-align: center;
		/* transform: translate(100%); */
		transition: 0.5s ease-in-out;
		padding: 12px;
		z-index: 1;
	}

	a {
		cursor: pointer;
	}

	ul.activeBurger {
		/* transform: translate(0%); */
		display: flex;
	}

	.active {
		flex-direction: column;
	}

	.skillsflex {
		flex-direction: column;
	}

	.aboutImg {
		display: none;
	}

	.sectionKnowagle {
		text-align: center;
		align-items: center;
	}

	.slider-wrapper {
		padding: 10px;
		max-width: 26rem;
	}
}

@media only screen and (max-width: 780px) {
	ul.activeBurger {
		width: 100%;
	}
}
